body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
     
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-shape {
    background: orange;
    width: 100%;
    height: 200px;
    -ms-transform: skewY(-20deg);
    -webkit-transform: skewY(-20deg);
    transform: skewY(-20deg);
    border-radius: 30px;
    position: absolute;
    top: 0px;
    left: 50px;
}
